---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import IMG from "../components/IMG.astro";

let title = 'Astro Miami';
let description = 'Minimalistic photography site with masonry grid';
let url = 'https://astro-miami.netlify.app';
let image = 'https://astro-miami.netlify.app/banner.jpg';
---

<BaseLayout title={title} description={description} url={url} image={image}>
	<img class="rounded-full w-32 object-cover opacity-100" alt="avartar" src="avatar.png">
	<h1 class="text-white text-4xl font-bold my-2 mb-1">Astro Miami</h1>
	<p class="text-slate-400 mb-8">Masonry image lists use dynamically sized container heights that reflect the aspect ratio of each image. This image list is best used for browsing uncropped peer content.</p>
	
	<div class="columns-2 md:columns-3 lg:columns-4">
		<IMG src="https://source.unsplash.com/random/1" />
		<IMG src="https://source.unsplash.com/random/2" />
		<IMG src="https://source.unsplash.com/random/3" />
		<IMG src="https://source.unsplash.com/random/4" />
		<IMG src="https://source.unsplash.com/random/5" />
		<IMG src="https://source.unsplash.com/random/6" />
		<IMG src="https://source.unsplash.com/random/7" />
		<IMG src="https://source.unsplash.com/random/8" />
		<IMG src="https://source.unsplash.com/random/9" />
		<IMG src="https://source.unsplash.com/random/10" />
		<IMG src="https://source.unsplash.com/random/11" />
		<IMG src="https://source.unsplash.com/random/12" />
	</div>

	<Footer />
</BaseLayout>
